<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SysInfo.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<SysInfo.Properties.Settings>
   <setting name="ShowWarning" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="SystemThemeIsOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AppTheme" serializeAs="String">
    <value>Light</value>
   </setting>
   <setting name="AppThemeFluent" serializeAs="String">
    <value>Light</value>
   </setting>
   <setting name="TransparencySwitchIsOn" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TimerInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SliderVal" serializeAs="String">
    <value>5</value>
   </setting>
  </SysInfo.Properties.Settings>
	</userSettings>
</configuration>